# Ignore version control files
.git
.gitignore

# Ignore Django-related files
__pycache__
*.pyc
*.pyo
*.pyd
*.pyo
*.pyc
*.pyo
*.pyd

# Ignore development and local configuration

*.vscode
.idea
*.pyc

venv
media

# Ignore Celery-related files
celerybeat-schedule
celerybeat.pid