{% extends "base_message.html" %}

{% block style-ext %}
<style>
  .text-explain {
    margin: 5px auto;
    color: rgb(39, 39, 39);
    font-size: 16px;
  }

  .text-username {
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    margin: 0 auto;
  }

  .link-reset {
    color: rgb(0, 0, 80);
    font-size: 20px;
    margin: 5px auto;
    font-weight: 700;
    display: block;
    width: max-content;
  }

  .container-content {
    width: 100%;
  }
</style>
{% endblock style-ext %}

{% block content %}
  <div class="container-content">
    <p class="text-explain">Hemos recibido una solicitud para restablecer la contraseña de tu cuenta asociada a esta dirección de correo
    electrónico. Para iniciar el proceso de restablecimiento de contraseña de tu cuenta, haz clic en el siguiente enlace.</p>

    <a href="{{ domain }}{% url 'password-recovery-confirm' uidb64=uid token=token %}" class="link-reset">Reset your password</a>
    <p class="text-explain">Este enlace solo puede ser utilizado una vez. Si necesitas restablecer tu contraseña nuevamente, por favor visita nuestra web y solicita otro restablecimiento.</p>
  
  </div>
{% endblock content %}
